<div class="d-flex justify-content-end align-items-start card m-2 p-2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary m-2 p-2">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Tools
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/tool1']">Tool 1</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/tool2']">Tool 2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>